* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-canvas {
    border: 1px solid black;
    background: lightblue;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}